*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$colorWhite: #ffffff;
$colorCyan: #03e9f4;

%fake_checkbox_focus {
    outline: -webkit-focus-ring-color auto 1px;
}

body {
    width: 300px;
    padding: 40px 20px;
    background-image: linear-gradient(to bottom, #141e30, #243b55);
    border-radius: 5px;

    h1 {
        color: $colorWhite;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 30px;
    }
}

fieldset {
    border: none;
    outline: none;

    input[type='text'],
    input[type='number'] {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid $colorWhite;
        background-color: transparent;
        color: $colorWhite;
        padding: 10px 5px;
        margin-bottom: 20px;

        &::placeholder {
            color: $colorWhite;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            display: none;
        }
    }

    label {
        color: $colorWhite;
        position: relative;
        display: block;
        margin-bottom: 20px;

        &:focus > .fake-checkbox {
            @extend %fake_checkbox_focus;
        }

        input[type='checkbox'] {
            width: 20px;
            height: 20px;
            left: 55%;
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        input[type='checkbox']:checked ~ .fake-checkbox::before {
            display: block;
        }

        .fake-checkbox {
            width: 20px;
            height: 20px;
            background-color: $colorCyan;
            position: absolute;
            left: 55%;
            border-radius: 3px;
            z-index: 1;

            &:focus-visible {
                @extend %fake_checkbox_focus;
            }

            &::before {
                content: '';
                display: none;
                width: 15px;
                height: 10px;
                position: absolute;
                top: 2px;
                left: 3px;
                border-bottom: 3px solid $colorWhite;
                border-left: 3px solid $colorWhite;
                transform: rotate(-45deg) scale(0.8);
            }
        }
    }
}

form {
    button {
        border: 1px solid $colorCyan;
        color: $colorCyan;
        padding: 10px;
        background-color: transparent;
        cursor: pointer;
    }
}
